@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

/* Common styles */
.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
    border: 0;
    background: none;
}

a {
  font-family: "RalewayBold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

body h2 {
  font-family: "RalewayBold", sans-serif;
  font-size: 65.742px;
  font-weight: bold;
  color: #f9fafe;
  line-height: 0.42;
  letter-spacing: 4.19px;
  margin-bottom: 31px;
}

body h3 {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Raleway";
  color: #343435;
}

body p {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}

section {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.overflow {
  overflow: hidden;
}

/* Main styles */
/* Header *//* Header *//* Header */
.page-header {
  background: url("../img/header-background.png") no-repeat;
  background-position: 50% 0%;
  padding-bottom: 15%;
  background-size: cover;
}

.page-header .container {
  width: 100%;
  max-width: 1497px;
}

.heading {
  padding-top: 39px;
}

.heading-logo {
  float: left;
  width: 166px;
  height: 33px;
  margin-left: 35px;
}

.hamburger {
  float: right;
  display: none;
}

.hamburger__stripe {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

.navigation-list {
  padding: 0;
  margin: -4px 10px auto;
  float: right;
}

.navigation-list__item {
  display: inline-block;
  padding: 10.5px 35px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.navigation-list__item:hover {
  border-color: #fff;
}

.navigation-list__link {
  font-size: 16px;
  color: #fff;
}

.header-content {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
}

.header-content__big-text {
  line-height: 1;
}

.header-content__text,
.own-boat__text {
  margin: 0 auto 81px;
  font-size: 30px;
  color: #f9fafe;
  text-transform: uppercase;
  letter-spacing: 1.19px;
}

.header-form {
  display: inline-table;
  width: 100%;
}

.header-form__search-area {
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  width: 572px;
  height: 60px;
  padding: 0;
  padding-left: 30px;
  letter-spacing: 0.59px;

  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #717171;
}

.btn {
  display: inline-block;
  background-color: #fff;

  background: url("../img/sailboat.png");
  background-position: 40px 22px;
  background-repeat: no-repeat;
  background-color: #e7434e;

  border: 0;
  border-radius: 5px;

  font-family: "RalewayBold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  width: 200px;
  height: 60px;
  padding-left: 29px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn_red {
  background-color: #e7434e;
}

.header-form .btn {
  border-radius: 0 5px 5px 0;
}

/* Top destinations *//* Top destinations */
.info-box-list {
  position: relative;
  bottom: 70px;

  margin: 0 auto;
  padding: 29px 0 40px;
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.2);
  background: #fff;
}

.info-box-list__item {
  display: inline-block;
  width: 285px;
  border-right: 1px solid #d4d4d4;
}

.info-box-list__number {
  font-size: 30px;
  font-family: "OpenSansBold";
  color: #343434;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6px;
}

.info-box-list__text {
  font-size: 18px;
  color: #717171;
  text-align: center;
}

.info-box-list__item:nth-child(1n+4) {
  border-right: 0;
}

.top-dest {
  padding-bottom: 90px;
}

.top-dest-header {
  margin: 33px auto 68px;
}

.top-dest-header__big-text,
.featured-boats-header__big-text {
  letter-spacing: 1px;
  margin-bottom: 19px;
}

.top-dest-header__text,
.featured-boats-header__text {
  font-size: 16px;
  color: #717171;
  line-height: 1.375;
  letter-spacing: 0.3px;
  text-align: center;
}

.top-dest-list {
  margin-bottom: 119px;
}

.top-dest-list__item {
  display: inline-block;
  margin: 15px 13px 15px 13px;
  max-width: 370px;
  height: 360px;

  position: relative;
  text-align: center;
  color: white;
}

.top-dest-list__item:hover {
  opacity: 0.8;
}

.top-dest-list__item:nth-of-type(1) {
  max-width: 770px;
  height: 360px;
  margin-left: 0;
}

.top-dest-list__item:nth-of-type(3) {
  margin-left: 0;
}

.top-dest-list__item:nth-of-type(3n+2) {
  margin-right: 0;
}

.top-dest-list__img{
  max-width: 370px;
}

.top-dest-list__item:nth-of-type(1) .top-dest-list__img {
  max-width: 770px;
}

.inside__num-count {
  position: absolute;
  top: 30px;
  left: 27px;

  display: block;
  background-color: #e7434e;

  border-radius: 5px;

  font-family: "OpenSansBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.top-dest-list .inside__num-count {
  background: url("../img/sailboat.png");
  background-position: 12px 12.5px;
  background-repeat: no-repeat;
  background-color: #e7434e;

  padding-left: 39.6px;
  padding-right: 15px;
  line-height: 42px;
  text-transform: uppercase;
}

.inside__text-wrap {
  position: absolute;
  bottom: 25px;
  left: 27px;
  text-align: left;
  letter-spacing: 1.2px;
  color: #fff;
}

.inside__location,
.inside__ship-name {
  font-size: 30px;
  font-family: "Raleway";
  line-height: 1.5;
  font-weight: 200;
  color: #fff;
}

.inside__country {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 100;
  color: #fff;
}

.link-btn {
  position: relative;
  bottom: 10px;
  padding: 21.5px 41.5px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #343434;
}

.link-btn:hover {
  border-color: transparent;
  background: #e7434e;
  color: #fff;
}

.link-btn_red {
  background: #e7434e;
  color: #fff;
  border: transparent;
}

.link-btn_red:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.link-btn_small {
  padding-left: 47px;
  padding-right: 47px;
}
/* Own boat  *//* Own boat  *//* Own boat  *//* Own boat  *//* Own boat  *//* Own boat  */

.own-boat {
  background: url("../img/own-boat-background.png") no-repeat;
  background-position: 50% 0;
  background-size: cover;

  padding-top: 204px;
  padding-bottom: 170px;
}

.own-boat__big-text{
  letter-spacing: 2.4px;
}

.own-boat__text {
  margin-bottom: 113px;
}

/* Featured boats  *//* Featured boats  *//* Featured boats  *//* Featured boats  *//* Featured boats  */
.featured-boats {
  padding-top: 94px;
  padding-bottom: 97px;
}

.featured-boats-header__text {
  margin-bottom: 80px;
}
.featured-boats-list {
  margin: 0 auto 118px;
}

.featured-boats-list__item {
  display: inline-block;
  position: relative;
  margin: 15px auto;
  width: 570px;
  height: 340px;
}

.featured-boats-list__item:hover {
  opacity: 0.6;
}

.featured-boats-list__item:nth-of-type(2n+1) {
    margin-right: 13px;
}

.featured-boats-list__item:nth-of-type(2n+2) {
    margin-left: 13px;
}

.featured-boats-list__img {
    max-width: 570px;
}

.featured-boats-list .inside__num-count {
  padding-left: 12.335px;
  padding-right: 12.335px;
  line-height: 42px;
}

.ship-spec__location,
.ship-spec__berths {
  display: inline-block;
  font-size: 16px;
  padding-left: 10px
}

.ship-spec__location {
  background: url("../img/map-marker.png") no-repeat;
  background-position: 1px 2px;
  padding-left: 26px;
}

.ship-spec__berths {
  background: url("../img/account-multiple.png") no-repeat;
  background-position: 1px 2px;
  padding-left: 32px;
  margin-left: 11px;
}

/* Footer  *//* Footer  *//* Footer  */
.page-footer {
  background: url("../img/Prostokat10.png") no-repeat;
  background-color: #404040;
  padding-top: 58px;
  padding-bottom: 70px;
  text-align: center;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-locations-list,
.featered-boats-list,
.contact-us-list {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  text-align: left;
}

.top-locations-list__item,
.featered-boats-list__item,
.contact-us-list__item {
  white-space: nowrap;
}

.form-block {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  text-align: left;
}

.top-locations-list__title,
.featered-boats-list__title,
.contact-us-list__title, .form-block__title {
  font-size: 14px;
  font-family: "Raleway";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.571;
  margin-bottom: 18px;
}

.top-locations-list__link,
.featered-boats-list__link,
.contact-us-list__link {
  color: #fff;
  font-size: 14px;
  font-family: "OpenSans";
  line-height: 2.429;
  font-weight: 100;
}

.top-locations-list__link:hover,
.featered-boats-list__link:hover,
.contact-us-list__link:hover {
  opacity: 0.6;
}

.footer-form {
  display: inline-table;
}

.form-block .social {
  margin: 15px 0;
}

.form-block .social__item {
  display: inline-block;
  margin: 0 4px;
}

.form-block .social__item:nth-of-type(1) {
margin-left: 0;
}

.btn-simple {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;

  border-radius: 0 5px 5px 0;
  background-image: none;
  padding: 0;
  vertical-align: top;

  width: 147px;
  height: 42px;
}

.footer-form__email {
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  width: 248px;
  height: 42px;
  padding: 0;
  padding-left: 22px;
  letter-spacing: 0.59px;

  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #717171;
}

.fa {
  padding: 15px;
  font-size: inherit;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #717171;
  color: white;
}

.fa-twitter {
  background: #717171;
  color: white;
}

.fa-google {
  background: #717171;
  color: white;
}

/* Media query *//* Media query *//* Media query *//* Media query *//* Media query */
/* Common media query *//* Common media query *//* Common media query */
@media (max-width: 991px) {
/*  Header  *//*  Header  *//*  Header  */
  .navigation-list {
    height: 20%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 2.4%;
    background-color: rgba(1,1,1, 0.8);
    overflow: hidden;
    transition: 0.5s;
  }

  .navigation-list__item {
    text-align: center;
    white-space: nowrap;
    display: block;
  }

  .show-navigation-list {
    padding: 19px 10px 0 10px;
    width: 250px;
  }

  .hamburger {
    display: block;
    margin-right: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
/* Header *//* Header *//* Header *//* Header */
  .container {
    max-width: 970px;
    width: 100%;
  }

  .page-header .container {
    max-width: 1170px;
    width: 100%;
  }

  .heading-logo {
    margin-left: 35px;
  }

  .header-form__search-area {
    border-radius: 5px 0 0 5px;
  }

  .header-form .btn {
    border-radius: 0 5px 5px 0;
  }

  /* Top destinations *//* Top destinations */
  .info-box-list__item {
    width: 238px;
  }

  .top-dest-list__item:nth-of-type(1){
    margin: 13px 13px;

  }

  .top-dest-list__item:nth-of-type(1n+2){
    margin: 13px 13px;
  }

  /* Featured boats  *//* Featured boats  *//* Featured boats  */

  .featured-boats-list__item:nth-of-type(1n+1) {
    margin: 8px 6px;
  }

  .featured-boats-list__item {
    width: 470px;
    height: 278px;
  }

  .featured-boats-list__img{
    width: 470px;
  }

/*  Footer  *//*  Footer  *//*  Footer  *//*  Footer  */

  .footer-form__email {
    border-radius: 5px 0 0 5px;
  }

  .footer-form .btn {
    border-radius: 0 5px 5px 0;
  }

  .form-block {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
/*  Common  */
  .container {
    max-width: 750px;
  }
/* Header *//* Header *//* Header */
  .header-form .btn {
    margin-top: 5px;
    border-radius: 5px;
  }

  .header-form__search-area {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }

/* Top destinations *//* Top destinations */
  .info-box-list__item {
    width: 180px;
  }

  .top-dest-list {
    text-align: center;
  }

  .top-dest-list__item:nth-of-type(1) {
    max-width: 740px;
    height: 350px;
    margin-left: 0;
    margin-right: 0;
  }

  .top-dest-list__item:nth-of-type(1) .top-dest-list__img {
    max-width: 740px;
  }

  .top-dest-list__item {
    margin: 0;
  }

/* Own boat *//* Own boat *//* Own boat */
  .own-boat__big-text {
    line-height: 1;
  }

/* Featured boats  *//* Featured boats  */
  .featured-boats-list__item:nth-of-type(1n+1) {
    margin-left: 0;
    margin-right: 0;
  }

/* Footer *//* Footer *//* Footer */
  .footer-content {
    flex-wrap: wrap;
  }

  .top-locations-list {
    order: 1;
    margin: 0;
  }

  .featered-boats-list {
    order: 2;
    margin: 0;
  }

  .contact-us-list {
    order: 3;
    margin: 0;
  }

  .form-block {
    order: 4;
    margin-top: 45px;
  }

  .footer-form .btn {
    border-radius: 0px 5px 5px 0px;
  }
}

@media (max-width: 767px) {
/*  Common  */
  .container {
    width: 100%;
  }

  body h2 {
    font-size: 3em;
  }

  a {
    font-size: 11px;
  }


  .btn {
    margin-top: 5px;
    border-radius: 5px;
  }
/* Header *//* Header *//* Header *//* Header */
  .header-form__search-area {
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }

  .header-form .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

/* Top destinations *//* Top destinations */
  .info-box-list {
    padding: 20px 70px;
  }

  .info-box-list__item {
    display: block;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d4d4d4;
  }

  .top-dest-list__item {
    margin-left: 0;
    margin-right: 0;
    width: 99%;
    height: 99%;
  }

  .top-dest-list__img {
    width: 99%;
  }

  .top-dest-list__item:nth-of-type(1) {
    overflow: hidden;
    max-width: 370px;
    max-height: 362px;
    height: 99%;
    width: 99%;
    border-radius: 5px;
  }

  .top-dest-list__item:nth-of-type(1) .top-dest-list__img {
    height: 99%;
    max-height: 361px;
    width: 214%;
  }

  .top-dest-list__item:nth-of-type(1) {
    height: 99%;
    margin-left: 0;
  }

  .footer-content {
    flex-direction: column;
  }

/* Own boat *//* Own boat *//* Own boat */
  .own-boat__big-text {
    line-height: 1.1;
  }

/* Featured boats  *//* Featured boats  */
  .featured-boats-list__item:nth-of-type(1n+1) {
    overflow: hidden;
    width: 99%;
    max-width: 570px;
    margin: 5px 0;
    border-radius: 10px;
  }

  /* Footer *//* Footer *//* Footer */
  .footer-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .top-locations-list,
  .featered-boats-list,
  .form-block,
  .contact-us-list {
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
    margin: 10px 0;
  }

  .footer-form__email {
    border-radius: 5px;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-form .btn {
    display: block;
    margin: 5px auto 0;
  }
}
